.card-border {
  background: linear-gradient(90deg, hsla(197, 100%, 52%, 1) 0%, hsla(294, 100%, 52%, 1) 100%);
  /* background: -webkit-linear-gradient(90deg, hsla(197, 100%, 52%, 1) 0%, hsla(294, 100%, 52%, 1) 100%); */
  max-width: 300px;
  width: 80%;
  height: 400px;
  padding: 0.5em;
  border-radius: 20px; 
  outline: unset;
}
.card {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  height: 100%;
  background: #07182E;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  text-decoration: none ;
}
.card-title {
  padding-bottom: 0.25em;
  font-size: 3.5rem;
  font-weight: bold;  
  font-family: 'Fredoka One', cursive;
  color: hsla(289, 68%, 19%, 1) ;  
  -webkit-text-stroke: 0.5px  rgb(0, 183, 255);
  outline: unset;
  text-align: center;
  line-height: 0.9;
}
.card-image{
  width: 75%;
  height: 55%;
  padding: 5px 5px;
  border: solid #24066a;
  background: #212121;
  border-radius: 20px;
}
.card-item {
  padding-top: 0.25em;
  color: #EF5CFF;
  width: 80%;
  font-size: 2rem;
  outline: unset;
  text-decoration: none ;
}
.card-item span {
  color: rgb(223, 223, 223);
}
.card-item.zeroRating {
  text-align: center;
}

/* @media (max-width: 700px) {
  .card {
    width: 90%;
    padding: 1em;
  }
  .card-img {
    width: 90px;
  }
} */






