/* Estilos para la barra de filtros */
.box-filter {
  background-color:  #1655A2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em 0;
  border-top:  1px solid rgb(202, 202, 202);
  border-bottom:  1px solid rgb(202, 202, 202);
}
.filter {
  border: 2px solid #e81cff;
  border-radius: 60px;
  box-shadow: 0px 8px 15px rgba(5, 5, 5, 0.42);
}
.filter-button {
  border: 0;
  outline: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 12px 25px;
  cursor: pointer;
  background-color: #0b284c;
  color: white;
}
.filter-button.n1 {
 border-radius: 45px 0 0 45px ;
}
.filter-button.n2 {
  border-right: 2px solid #e81cff;
  border-left: 2px solid #e81cff;
}
.filter-button.n3 {
 border-radius:0 45px 45px 0 ;
}
.filter-button:hover {
  background-color: #C900DF;
  color: white;
}

@media (max-width: 740px) {
  .filter {
    border: none;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .filter-button.n1 {
    border-radius: 45px 0 0 45px ;
    border: 2px solid #e81cff;
    border-right: none;
    box-shadow: 0px 8px 15px rgba(5, 5, 5, 0.42);
   }
   .filter-button.n2 {
     border: 2px solid #e81cff;
     border-radius:0 45px 45px 0 ;
    box-shadow: 0px 8px 15px rgba(5, 5, 5, 0.42);
   }
   .filter-button.n3 {
    border-radius: 45px ;
    border: 2px solid #e81cff;
    margin-top: 0.5em;
    box-shadow: 0px 8px 15px rgba(5, 5, 5, 0.42);
   }
}