.box-header {
  /* background-color: #E2F8FA; */
  background-color: #0C2F5B;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.navbar {
  margin: 0;
  width: 100%;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Todos los estilos del input bucar  */
.search {
  background: white;
  display: flex;
  align-items: center;
  border: 1px solid rgb(202, 202, 202);
  /* background-color: #1655A2; */
  border-radius: 60px;
  padding: 6px 8px;
}
.search input {
  background: transparent;
  align-items: center;
  flex: 1;
  border: 0;
  outline: none;
  padding: 5px 20px;
  font-size: 1.8rem;
}
input::placeholder {
  color: grey;
}
.search button img {
  width: 19px;
}
.search button {
  border: 0;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  background: #C900DF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo del boton crear nueva raza */
.create-button {
  /* border: 2px solid #C900DF; */
  border: 2px solid #e81cff;
  color: #e81cff;
  /* background-color: white;  */
  background-color: #1F2833; 
  border-radius: 45px;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 12px 25px;
  cursor: pointer;
  box-shadow: 0px 8px 15px #235490;
  /* box-shadow: 0px 8px 15px #6d2874; */
}
.create-button:hover {
  background-color: rgb(0, 183, 255);
  border: 2px solid white;
  box-shadow: none;
  color: white;
}

/* Estilos para la barra de filtros */
.box-filter {
  background-color:  #1655A2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em 0;
  border-top:  1px solid rgb(202, 202, 202);
  border-bottom:  1px solid rgb(202, 202, 202);
}
.filter {
  border: 2px solid #e81cff;
  border-radius: 60px;
  box-shadow: 0px 8px 15px rgba(5, 5, 5, 0.42);
}
.filter-button {
  border: 0;
  outline: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 12px 25px;
  cursor: pointer;
  background-color: #0b284c;
  color: white;
}
.filter-button.n1 {
 border-radius: 45px 0 0 45px ;
}
.filter-button.n2 {
  border-right: 2px solid #e81cff;
  border-left: 2px solid #e81cff;
}
.filter-button.n3 {
 border-radius:0 45px 45px 0 ;
}
.filter-button:hover {
  background-color: #C900DF;
  color: white;
}

@media (max-width: 740px) {
  .search {
    width: 250px;
  }
  .search input {
    width: 150px;
  }
  .create-button {
    padding: 12px 25px;
  }
  .search input {
  background: transparent;
  align-items: center;
  flex: 1;
  border: 0;
  outline: none;
  padding: 5px 20px;
  font-size: 1.8rem;
}
  .filter {
    border: none;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .filter-button.n1 {
    border-radius: 45px 0 0 45px ;
    border: 2px solid #e81cff;
    border-right: none;
    box-shadow: 0px 8px 15px rgba(5, 5, 5, 0.42);
   }
   .filter-button.n2 {
     border: 2px solid #e81cff;
     border-radius:0 45px 45px 0 ;
    box-shadow: 0px 8px 15px rgba(5, 5, 5, 0.42);
   }
   .filter-button.n3 {
    border-radius: 45px ;
    border: 2px solid #e81cff;
    margin-top: 0.5em;
    box-shadow: 0px 8px 15px rgba(5, 5, 5, 0.42);
   }
}

